<div class="product-card" [class.disabled]="$isLoading | async">
  <div class="product-details">
    <div class="img-container">
      <img mat-card-image [src]="'data:image/jpeg;base64,' + product?.img" alt="Descripción del producto">
    </div>
    <div class="product-info">
      <h2>{{product?.name}}</h2>
      <div>{{product?.description}}</div>
      <div>{{product?.category}}</div>
      <div>{{product?.price | currency:'USD':'symbol':'1.2-2'}}</div>
      <div>
        <button mat-stroked-button (click)="addToCart(product)">Agregar al Carrito</button>
        <button style="margin-left: 5px;" mat-raised-button color="primary" (click)="buy(product)">Comprar</button>
      </div>
    </div>
  </div>
</div>

