<div class="product-card">
  <div class="product-details">
    <div class="img-container">
      <img mat-card-image src="https://i.ebayimg.com/images/g/BdgAAOSw7tNk~4Xb/s-l1600.jpg" alt="Descripción del producto">
    </div>
    <div class="product-info">
      <h2>Nombre del Producto</h2>
      <div>Descripcion</div>
      <div>Categoria</div>
      <div>$99.99</div>
      <div>
        <button mat-stroked-button>Agregar al Carrito</button>
        <button style="margin-left: 5px;" mat-raised-button color="primary">Comprar</button>
      </div>
    </div>
  </div>
</div>

