
<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #mobileMenu mode="over" position="start">
    <h2 class="m-l-10">Menu</h2>
    <button mat-button [routerLink]="'/buy/products'">Cartas</button>
    <button mat-button [routerLink]="'/dashboard'">Admin dashboard</button>
    <button mat-button [routerLink]="'/user/config'">Configuración de usuario</button>
    <button mat-button>Salir</button>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="private-layout">

      <mat-toolbar  color="primary">
        <mat-toolbar-row class="mat-elevation-z6">
          <div class="flex-row displayLimit">
            <button mat-icon-button class="menu-button" (click)="mobileMenu.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
            <h2 class="logo">POKEMON SHOPPING</h2>
            <span class="spacer"></span>
            <button mat-icon-button [routerLink]="'/cart'">
              <mat-icon>shopping_cart</mat-icon>
            </button>
          </div>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <div class="flex-row displayLimit">
            <a mat-button [routerLink]="'/buy/products'">Cartas</a>
            <a mat-button [routerLink]="'/dashboard'">Admin dashboard</a>
            <span class="spacer"></span>
            <a mat-button [routerLink]="'/user/config'">Configuración de usuario</a>
            <a mat-button >Salir</a>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>

      <div class="content displayLimit">
        <router-outlet></router-outlet>
      </div>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>


