<div class="product-card" [class.disabled]="$isLoading | async">
  <div class="product-details">
    <div class="img-container">
      <img mat-card-image [src]="product?.product?.img" alt="Descripción del producto">
    </div>
    <div class="product-info">
      <h2>{{product?.product?.name}}</h2>
      <div>{{product?.product?.price}} x {{product?.quantity}}</div>
      <div>
        <button mat-stroked-button color="primary" (click)="addToCart(product)">Agregar</button>
        <button style="margin-left: 5px;" mat-raised-button color="error" (click)="removeToCart(product)">Quitar</button>
      </div>
    </div>
  </div>
</div>
