
<h2>Mi carrito ({{$quantity | async}} Item)</h2>

<div class="container">



  <div class="product-details">
    <div class="button-flex-end">
      <h3>Productos en el carrito</h3>
      <span class="spacer"></span>
      <a mat-raised-button [routerLink]="['/buy/products']" color="primary">Agregar otros productos</a>
    </div>
    <app-cart-product *ngFor="let product of $productsInCart | async" [product]="product"></app-cart-product>
  </div>


  <div class="total" [class.disabled]="paying">
    <h2>Total de la compra</h2>
    <span class="import">{{$total | async | currency:'USD':'symbol':'1.2-2'}}</span>
    <div class="finalizar">
      <form (submit)="handlePayment($event)">
        <div class="credit-card" >
          <div  id="card-element">
        </div>
        <div id="card-errors" role="alert"></div>
        </div>
        <div class="m-t-10 finalizar">
          <button mat-raised-button color="primary" type="submit">Finalizar compra</button>
        </div>
      </form>
    </div>
    <mat-spinner *ngIf="paying" [diameter]="50" class="centered-spinner"></mat-spinner>
  </div>
</div>
