.container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-details, .total {
  padding: 20px;
}

.product-details {
  flex: 2;
  order: 1;
}

.total {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  flex-direction: column;
  flex: 1;
  text-align: right;
  order: 2;
  border: 1px solid #e1e1e1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 150px;
  margin-top: 35px;
  min-height: 200px;
  transition: opacity 0.3s;
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  .centered-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}

.finalizar {
  width: 100%;
  margin-top: 20px;
}

.import {
  font-size: 24px;
  font-weight: bold;
  color: #0077CC;
  margin-top: auto;
  margin-right: 10px;
  text-align: right;
}

app-product-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

app-product-card:last-child {
  margin-bottom: 0;
}


@media (max-width: 767px) {
  .container {
    flex-direction: column-reverse;
  }

  .product-details, .total {
    flex-basis: 100%;
  }
  .total {
    margin: 20px;
  }
}

.button-flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}