

<mat-form-field appearance="fill">
  <mat-label>Pokemon</mat-label>
  <input matInput [formControl]="pokemonControl" name="item">
</mat-form-field>

<h3>Colección</h3>
<mat-selection-list #pokemonCategory (selectionChange)="onSelectionChange(pokemonCategory, 'categories' , $event)">
  <mat-list-option *ngFor="let category of categories" checkboxPosition="before" [value]="category">
    {{category}}
  </mat-list-option>
</mat-selection-list>
<h3>Precio</h3>
<mat-selection-list #priceList (selectionChange)="onSelectionChange(priceList, 'prices', $event)">
  <mat-list-option *ngFor="let price of prices" checkboxPosition="before" [value]="price" >
    {{price}}
  </mat-list-option>
</mat-selection-list>
